<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<title>CSS Layout</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<style>
#wrapper{
width: 100%;
outline: 1px solid #787274;
padding: 5px;
margin: 0 auto;
position: relative;
}
.header{
height: 80px;
background: #FEEBEB;
margin-bottom: 5px;
text-align: center;
font-size: 40px;
font-family: opensans;
border: 2px solid;
}
.sidebar1{
height: 128px;
background-color: #FCD8D8;
margin-bottom: 10px;
text-align: center;
font-size: 15px;
font-family: opensans;
width: 19%;
position: absolute;
top: 90px;
left: 5px;
border: 2px solid;
}

.sidebar2{
height: 128px;
background-color: #FCD8D8;
margin-bottom: 9px;
text-align: center;
font-family: opensans;
font-size: 19px;
width: 19%;
position: absolute;
top: 90px;
right: 5px;
border: 2px solid;
}
.content{
height: 120px;
background: #BCED8B;
margin: 0 auto;
font-family: opensans;
text-align: center;
width: 60%;
border: 2px solid
}
.blok1, .blok2, .blok3, .blok4{
float: left;
margin: 3px 3px 3px 5px;
width: 22%;
height: 25%;
padding: 5px;
text-align: center;
border: 2px solid black;
}
.footer{
height: 40px;
background: #41874e;
margin: 5px 0 0 0;
text-align: center;
font-family: opensans;
border: 2px solid;
}
</style>
</head>
<body>
<div id="wrapper">
<div class="header"> Basenjis</div>
<div class="content"> 
<div class="blok1">History</div>
<div class="blok2">Traits</div>
<div class="blok3">How to care</div>
<div class="blok4">Photo Gallery</div>
</div>
<div class="sidebar1">Basenjis often stand on their hind legs, somewhat like a meerkat, by themselves or leaning on something; this behavior is often observed when the dog is curious about something.</div>
<div class="sidebar2">To pet a basenji dial: 1-800-BASENJI-3
</div>
<div class="footer">Basenji Footer</div>
</div>
</body>
</html>
